*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
  background-color: #5f9ea0;
    color: white;
}
.button3 {
    background-color: #ffe35c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .card-layout{
      border-radius: 0px 50px 15px 50px !important;
  }

.logo{
    font-size: 30px;
}

.bottom-content{
    border: 2px solid whitesmoke;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.mobile-menu-icon{
    display: none;
}

@media  screen and (max-width: 700px) {
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
}

